<!doctype html>
<html html prefix='og: http://ogp.me/ns#'>

<head>
  <title>Goals Tracker</title>

  {% block head %} {% endblock %}

<!--   <link rel='icon' href='/static/favicon.ico' type='image/x-icon'/> -->
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous'>
<!--   <link
    href='/static/css/bootstrap.css'
    rel='stylesheet'
  > -->
  <meta property='og:title' content='Goals Tracker' />
<!--   <meta property='og:image' content=' /> -->

</head>

<body>

  {% block content %} {% endblock %}

</body>

</html>